#Default identity
[include]
path = ~/.gitconfig-common
#Should be matched if git dir in certain directory
[includeIf "gitdir:~/repos/work/"]
path = ~/.gitconfig-work
[core]
        editor = nano
[credential]
	helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret
